.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background: crimson;
    color: floralwhite;
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: crimson;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color:firebrick;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel{
    background: lightpink;
}
.carousel-item{
    height: 500px;
   
}
.carousel-item img{
    position: relative;
    /* top: 0;
    left: 0; */
    min-height: 300px;
}

#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;
}

#first {
    width:200px;
    z-index:10;    
    text-align:center;
    top:50%;
    left:50%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
    }

#second {
        width:300px;
        z-index:10;        
        text-align:center;
        top:50%;
        left:40%;
        bottom:auto;
        -webkit-transform:translate(0, -50%);
        -ms-transform:translate(0, -50%);
        transform:translate(0, -50%);
        border-style: double;
        border-color: firebrick;
        }
#third{
        width:200px;
        z-index:10;    
        text-align:center;
        top:20%;
        left:30%;
        bottom:auto;
        -webkit-transform:translate(0, -50%);
        -ms-transform:translate(0, -50%);
        transform:translate(0, -50%);
        }


.dropdown-menu
{
    margin: 0px auto;
    padding: 0px auto;
    background-color: gainsboro;
    color: floralwhite;
    border-style: double;
    border-color: firebrick;
}

.modal-header {
    background: firebrick;
    color: floralwhite; }
    .modal-header .close {
      color: floralwhite; }
  
.modal-body {
background: lightpink; }

#outercontainer{
    
    background-color: gainsboro;
    }
#innercontainer{
    
        background-color: lightpink;
        border-color: firebrick;
        
        
    }

#caption{
    color: lightcoral;
}

.breadcrumb{
    background-color: lightpink;
}
.breadcrumb-item{
    background: gainsboro;
    color: floralwhite;
    padding: 0px;
    margin: 0px;
}
#table{
    background-color: gainsboro;
}
.card-header{
    background-color: firebrick;
    color: floralwhite;
}
